:root {
  --color-paper: #fff1e5;
  --color-claret: #990f3d;
  --color-oxford: #0f5499;
  --color-teal: #0d7680;

  --color-wheat: #f2dfce;
  --color-sky: #cce6ff;
  --color-slate: #262a33;
  --color-velvet: #593380;
  --color-mandarin: #ff8833;
  --color-lemon: #ffec1a;

  --color-candy: #ff7faa;
  --color-wasabi: #96cc28;
  --color-jade: #00994d;
  --color-crimson: #cc0000;

  --color-black5: #F2E5DA;
  --color-black10: #E6D9CE;
  --color-black20: #CCC1B7;
  --color-black30: #B3A9A0;
  --color-black40: #999189;
  --color-black50: #807973;
  --color-black60: #66605C;
  --color-black70: #4D4845;
  --color-black80: #272b32;
  --color-black90: #1A1817;

  --color-white10: #FFF2E8;
  --color-white20: #FFF4EA;
  --color-white40: #FFF7EF;
  --color-white60: #FFF9F5;
  --color-white80: #FFFCFA;

  --color-teal20: #052F33;
  --color-teal30: #08474D;
  --color-teal40: #0A5E66;
  --color-teal50: #0D7680;
  --color-teal60: #0F8E99;
  --color-teal70: #12A5B3;
  --color-teal80: #14BDCC;
  --color-teal90: #17D4E6;
  --color-teal100: #1AECFF;
}

body {
  font-family: "Helvetica Neue", "Lucida Grande", Verdana, "PingFang SC",
    "PingFang TC", "Hiragino Sans GB", "Heiti SC", "Heiti TC",
    "WenQuanYi Micro Hei", "Microsoft YaHei", "Microsoft JhengHei", STHeiti,
    sans-serif;
  background-color: var(--color-paper);
}

a {
  color: var(--color-teal);
}

a:hover {
  color: var(--color-black70);
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: var(--color-teal);
  color: #fff;
}

.btn-primary:hover {
  background-color: var(--color-teal40);
  border-color: transparent;
}

.btn-primary:focus,
.btn-primary.focus {
  background-color: var(--color-teal40);
  border-color: transparent;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: var(--color-teal);
  pointer-events: none;
  opacity: 0.4;
  cursor: default;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgb(64, 133, 139);
  border-color: transparent;
}

.btn-link {
  color: var(--color-teal);
  padding: 0;
}

.btn-outline-primary {
  color: var(--color-teal);
  background-color: transparent;
  border-color: var(--color-teal);
}

.btn-outline-primary :hover {
  color: var(--color-teal);
  background-color: rgba(13, 118, 128, 0.1);
  border-color: var(--color-teal);
}

.btn-outline-primary :focus,
.btn-outline-primary .focus {
  color: var(--color-teal);
  background-color: rgba(13, 118, 128, 0.1);
  border-color: var(--color-teal);
}

.btn-outline-primary .disabled,
.btn-outline-primary :disabled {
  pointer-events: none;
  opacity: 0.4;
  cursor: default;
}

.btn-outline-primary :not(:disabled):not(.disabled):active,
.btn-outline-primary :not(:disabled):not(.disabled).active,
.show > .btn-outline-primary .dropdown-toggle {
  color: #fff;
  background-color: var(--color-teal);
  border-color: var(--color-teal);
}
.nav-link.active {
  color: var(--color-claret);
}
.o-footer {
  margin-top: 40px;
  border-top: 10px solid;
  padding-top: 1.5rem;
  line-height: 20px;
  font-size: 16px;
  color: #fff;
  background-color: var(--color-black80);
  border-color: var(--color-teal40);
}

.o-footer a {
  border-bottom: 0;
  text-decoration: none;
  color: var(--color-black30);
}

.o-footer a:hover,
.o-footer a:focus {
  color: #fff;
}

.o-footer__matrix-title {
  margin: 0;
  line-height: inherit;
  font-size: inherit;
  font-weight: 600;
}

.o-footer__matrix-content {
  margin-top: 10px;
  margin-bottom: 10px;
}

.o-footer__matrix-link {
  display: block;
  padding: 4px 0;
}

.o-footer__copyright {
  color: var(--color-black30);
}

.o-footer__link-items {
  padding: 20px 0;
  list-style-type: none;
  margin: 0;
}

.o-footer__link-item {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 20px;
}

@media print {
  .o-footer {
    display: none;
  }
}
